<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NCScanner.Settings.NCScannerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <NCScanner.Settings.NCScannerSettings>
            <setting name="ToolRegex" serializeAs="String">
                <value>(M0?6)?(T0?\d*.?\d+)(M0?6)?((?:.*)(\(.*\)))?</value>
            </setting>
            <setting name="WorkOffsetRegex" serializeAs="String">
                <value>(G54\.1\s*P\d|G5[4-9](?!\.))</value>
            </setting>
        </NCScanner.Settings.NCScannerSettings>
    </userSettings>
</configuration>
